<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Freedeem</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li *ngIf="login" class="nav-item active" style="float: right;">
                    <a class="nav-link" href="#">{{mobileNo}}</a>
                </li>
                <li *ngIf="!login" class="nav-item active" style="float: right;">
                    <a class="nav-link" href="/login">Login</a>
                </li>
            </div>
        </div>
    </nav>
</header>

<div *ngIf="blnProduct" class="mt-5 mb-5 ms-5">
    <app-product></app-product>
</div>

<footer class="footer">
    <div class="container" style="margin: 0px !important; max-width: 100% !important;">
        <span class="text-muted">FreedeemApp</span>
        <span class="text-muted"  style="float: right;">copyright 2021</span>
    </div>
</footer>