.logon{

    width: 259px !important;
    display: inline-block !important;
    margin-left: 16px !important;
}
.green{
    color: green;
    font-size: 16px;
}

.red{
    color: red;
    font-size: 16px;
}